body {
  background-color: ffebee;
}
hr {
     background-color:#45454A ;
     border-style: none;
     height: 0px;
     width:0;
  }
  h2 {
    color:green;
    font-size: 50px;
  }

  h1 {
    color: green;
  }
  h3 {
    color: green;
  }
  h3 {
    color: green;
  }
